<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baibeiyun.eazyfair">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".app.MyAppclication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.supplier.MySupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.MyGoodsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.NewGoodsActivityone"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.NewGoodsActivitytwo"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.NewGoodsActivitythree"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnterActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">

            <!-- 可以出现在excel的打开方式里面 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AgreementActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.ModifyGoodsforSupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.GoodsDetailActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mygoods.SendGoodsDataActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.CustomListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.NewCustomActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.SelectQRcodeorOCRActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.EditCardForQRcodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.EditCardForOCRActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.MyCustomActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.mycustomer.CustomCardActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.OfferActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.CustomListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.OfferListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.MyBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.MyGoodsForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.AccountActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.BaseDataActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.MyQRcodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.AboutEasyFairActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.SystemSettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.NewGoodsOneForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.NewGoodsTwoForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.NewGoodsThreeForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.ModifyGoodsForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.GoodsDetailForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.MySupplierListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.NewSupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.EditCardForQRcodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.MySupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.SupplierCardActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.SelectInquiryPriceActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.SupplierListForInquiryPriceActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.GoodsPublishActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.ExhibitionInfoActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.ExhibitionDetailActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.SelectQRcodeorOCRForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InformationActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.BusinessActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.XuQiuPublishActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.GoodsListForBuyerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.SendOfferGoodsDataActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.buyer.inquiryprice.EditActivityforInquiry"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.SendInquiryGoodsDataActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.Goods_templet_oneActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.Goods_templet_twoActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.Goods_templet_threeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.GoodsListForSupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.ModifyGoodsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.DetailGoodsforSupplierActvity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mysupplier.EditCardForOCRBuyerActvity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.EditPassWordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageDetailsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.mygoods.SendGoodsDataByBuyerActvity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.AboutDetailsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.base.BaseActivity" />
        <activity
            android:name=".activity.supplier.offer.DetailGoodsforQuoteActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.InquiryPriceActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.DetailforInquiryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowBigPicture"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.DetailGoodsforBuyerActvity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business_opportunity.BusinessTheWordSupplierActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.EasyQuoteActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.AddEasyQuoteGoodsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.ModifyEasyQuoteActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.supplier.offer.DetailEasyQuoteActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.EasyInquiryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.AddEasyInquiryGoodsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.EditEasyInquiryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.inquiryprice.DetaiEasyInquiryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPassWordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:configChanges="locale"
            android:theme="@style/Theme.AppLauncher"
            android:screenOrientation="portrait"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>